<div class="row popup-box">

  <div class='columns medium-4'>
    <div class="popup-column">
      <ul class="tabs" data-tab>
        <li class="tab-title active"><a href="#formalimg"><%= fa_icon 'chevron-left', text: 'Formal' %></a></li>
        <li class="tab-title"><a href="#casualimg"><%= fa_icon 'chevron-right', text: 'Casual', right: true %></a></li>
      </ul>
      <div class="tabs-content" data-equalizer>
        <div class="content active" id="formalimg" data-equalizer-watch>
          <%= image_tag @mc_member.formalimg %>
        </div>
        <div class="content" id="casualimg" data-equalizer-watch>
          <%= image_tag @mc_member.casualimg %>
        </div>
      </div>
    </div>
  </div>

  <div class='columns medium-8'>
    <div class="popup-column">
      <h3 class="bold"><%= @mc_member.name %></h3>
      <h4><%= @mc_member.position %></h4>
      <h5 class="italics"><%= @mc_member.course %>, Year <%= @mc_member.year %></h5>
      <h6 class="subheader" >Wing Rank: <%= @mc_member.wingrank %></h6>
      <h6 class="subheader" >Cell Rank: <%= @mc_member.cellrank %></h6>

      <p>
        <%= simple_format @mc_member.description %>
      </p>
    </div>
  </div>

</div>