<div class="row">

  <%= render partial: 'mc/locker/navigations', locals: {page: 'rounds'} %>

  <div class="columns medium-8 small-12">
    <h3>Balloting Round Management</h3>
    <p>
      Manage the ballot rounds here. Create a new round or remove an unused one. Allocate lockers from here as well.
      Use the Resque Server to track allocation jobs.
    </p>
    <p>
      Note: The Start Allocation button will only be activated for rounds that have ended and have yet to be allocated.
    </p>
  </div>
  <div class="columns medium-4 small-12">
    <%= link_to new_mc_locker_locker_round_path, class: 'button radius success expand' do %>
      <%= fa_icon 'plus', text: 'Create Round', right: true %>
    <% end %>
    <%= link_to mc_resque_path, target: "_blank", class: 'button radius info expand' do %>
      <%= fa_icon 'wrench', text: 'Resque Server', right: true %>
    <% end %>
  </div>
  <div class="columns small-12">
    <table width="100%">
      <thead>
      <tr>
        <th>Acad Year</th>
        <th>Label</th>
        <th>Start</th>
        <th>End</th>
        <th>Action</th>
      </tr>
      </thead>
      <tbody>
      <% @rounds.reverse.each do |round| %>
        <tr id="round-<%= round.id %>">
          <td><%= round.acad_year %></td>
          <td><%= round.label %></td>
          <td><%= local_time round.start %></td>
          <td><%= local_time round.end %></td>
          <td>
            <ul class="button-group stack radius">
              <li><%= link_to 'View', mc_locker_locker_round_path(round), class: 'button small radius info expand' %></li>
              <li>
                <%= button_to "#{ if round.allocated
                                    'Allocation Done'
                                  elsif DateTime.now > round.end
                                    'Start Allocation'
                                  else
                                    'Round Not Closed'
                                  end }",
                              mc_locker_allocate_path(round, :round => round),
                              method: :post,
                              data: { confirm: "Allocating lockers for #{round.name}. Are you sure?", disable_with: 'Please wait...' },
                              class: 'button radius small success expand',
                              id: "alloc-button-#{round.id}",
                              disabled: !((DateTime.now > round.end) && !round.allocated)
                %>
              </li>
            </ul>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>

</div>
