<div class="row">

  <div class="columns small-12">
    <h3>Balloting Round</h3>
    <table width="100%">
      <tr>
        <th>Acad Year</th>
        <td><%= @round.acad_year %></td>
      </tr>
      <tr>
        <th>Round Label</th>
        <td><%= @round.label %></td>
      </tr>
      <tr>
        <th>Start Time</th>
        <td><%= local_time @round.start %></td>
      </tr>
      <tr>
        <th>End Time</th>
        <td><%= local_time @round.end %></td>
      </tr>
      <tr>
        <th>Round Type</th>
        <td><%= @round.kind %></td>
      </tr>
      <tr>
        <th>Allocation Performed</th>
        <td><%= @round.allocated %></td>
      </tr>
    </table>
    <table width="100%">
      <tr>
        <th>Round ID</th>
        <td><%= @round.id %></td>
      </tr>
      <tr>
        <th>Created At</th>
        <td><%= local_time @round.created_at %></td>
      </tr>
      <tr>
        <th>Last Updated</th>
        <td><%= local_time @round.updated_at %></td>
      </tr>
    </table>
  </div>

  <div class="large-12 columns">
    <ul class="button-group radius">
      <li><%= link_to 'Back', mc_locker_locker_rounds_path, class: 'button small radius info' %></li>
      <li><%= link_to 'Edit', edit_mc_locker_locker_round_path(@round), class: 'button small radius success'  %></li>
      <li>
        <%= link_to 'Delete',
                    mc_locker_locker_round_path(@round),
                    method: :delete,
                    data: { confirm: "Deleting #{@round.label}. Are you sure?" },
                    class: 'button small alert radius'
        %>
      </li>
    </ul>
  </div>

</div>
