<div class="row">

  <div class='small-12 columns'>

    <table width="100%">
      <tr>
        <th>Name</th>
        <td><%= @user.name || 'N/A' %></td>
      </tr>
      <tr>
        <th>Gender</th>
        <td><%= @user.gender || 'N/A' %></td>
      </tr>
      <tr>
        <th>UserID</th>
        <td><%= @user.uid || 'N/A' %></td>
      </tr>
      <tr>
        <th>Email</th>
        <td><%= @user.email || 'N/A' %></td>
      </tr>
      <tr>
        <th>Faculty</th>
        <td><%= @user.faculty || 'N/A' %></td>
      </tr>
      <tr>
        <th>First Major</th>
        <td><%= @user.first_major || 'N/A' %></td>
      </tr>
      <tr>
        <th>Second Major</th>
        <td><%= @user.second_major || 'N/A' %></td>
      </tr>
      <tr>
        <th>Matriculation Year</th>
        <td><%= @user.matriculation_year || 'N/A' %></td>
      </tr>
    </table>

  </div>

  <div class='small-12 columns'>

    <table width="100%">
      <tr>
        <th>Account ID</th>
        <td><%= @user.id %></td>
      </tr>
      <tr>
        <th>Authentication Provider</th>
        <td><%= @user.provider || 'N/A' %></td>
      </tr>
    </table>

  </div>

</div>