<div class="row">

  <%= render partial: 'mc/locker/navigations', locals: {page: 'general'} %>

  <div class="columns small-12">
    <h3>System Guide</h3>
    <table width="100%">
      <tr>
        <th>General Info</th>
        <td>This panel, overview of the system and its current state.</td>
      </tr>
      <tr>
        <th>Locker Rounds</th>
        <td>Management of balloting rounds and the Resque server.</td>
      </tr>
      <tr>
        <th>Locker Ballots</th>
        <td>Management of locker ballots.</td>
      </tr>
      <tr>
        <th>Locker Allocations</th>
        <td>Management of locker allocations.</td>
      </tr>
      <tr>
        <th>Lockers</th>
        <td>Management of lockers.</td>
      </tr>
    </table>
  </div>

  <div class="columns medium-6">
    <h3>Active Round</h3>
    <table width="100%">
      <tr>
        <th>Round Label</th>
        <td><%= @current_round ? link_to(@current_round.name, mc_locker_locker_round_path(@current_round)) : 'No active round' %></td>
      </tr>
      <tr>
        <th>Ballots Received</th>
        <td><%= @current_round ? @current_round.ballots.count : 'N/A' %></td>
      </tr>
      <tr>
        <th>Ending At</th>
        <td><%= @current_round ? local_time(@current_round.end) : 'N/A' %></td>
      </tr>
    </table>
  </div>

  <div class="columns medium-6">
    <h3>Previous Round</h3>
    <table width="100%">
      <tr>
        <th>Round Label</th>
        <td><%= @last_round ? link_to(@last_round.name, mc_locker_locker_round_path(@last_round)) : 'None' %></td>
      </tr>
      <tr>
        <th>Ended At</th>
        <td><%= @last_round ? local_time(@last_round.end) : 'N/A' %></td>
      </tr>
      <tr>
        <th>Ballots Received</th>
        <td><%= @last_round ? @last_round.ballots.count : 'N/A' %></td>
      </tr>
      <tr>
        <th>Lockers Allocated</th>
        <td><%= @last_round ? @last_round.allocations.count : 'N/A' %></td>
      </tr>
    </table>
  </div>

</div>

