<% @mcmem = McMember.find_by(name: params[:name]) %>

<div class="row popup-box">

  <div class='columns medium-4'>
    <div class="popup-column">
      <%= image_tag "about/"+@mcmem.casualimg %>
    </div>
  </div>

  <div class='columns medium-8'>
    <div class="popup-column">
      <h3 class="bold"><%= @mcmem.name %></h3>
      <h4><%= @mcmem.position %></h4>
      <h5 class="italics"><%= @mcmem.course %>, Year <%= @mcmem.year %></h5>

      <p>
        <%= simple_format @mcmem.description %>
      </p>
    </div>
  </div>

</div>
