<% @mcmem = McMember.find_by(name: params[:name]) %>
<div class="row">
		<div class='columns medium-4'>
			<%= image_tag "about/"+@mcmem.casualimg %>
		</div>
		
		<div class='columns medium-8'>
			<h1><%= @mcmem.name %></h1>
			<h3><%= @mcmem.position %></h3>
			<h5><%= @mcmem.course %> Year <%= @mcmem.year %></h5>
			<p><%= @mcmem.description %></p>
		</div>
</div>
