<% @mcmem = McMember.find_by(name: params[:name]) %>

<div class="row popup-box">

  <div class='columns medium-4'>
    <div class="popup-column">
      <ul class="tabs" data-tab>
        <li class="tab-title active"><a href="#formalimg"><%= fa_icon 'chevron-left' %></a></li>
        <li class="tab-title"><a href="#casualimg"><%= fa_icon 'chevron-right' %></a></li>
      </ul>
      <div class="tabs-content" data-equalizer>
        <div class="content active" id="formalimg" data-equalizer-watch>
          <%= image_tag @mcmem.formalimg %>
        </div>
        <div class="content" id="casualimg" data-equalizer-watch>
          <%= image_tag @mcmem.casualimg %>
        </div>
      </div>
    </div>
  </div>

  <div class='columns medium-8'>
    <div class="popup-column">
      <h3 class="bold"><%= @mcmem.name %></h3>
      <h4><%= @mcmem.position %></h4>
      <h5 class="italics"><%= @mcmem.course %>, Year <%= @mcmem.year %></h5>

      <p>
        <%= simple_format @mcmem.description %>
      </p>
    </div>
  </div>

</div>
