<div class="row">

  <div class="small-12 columns">
    <h3 class="bold">Events Management</h3>
    <p>
      Simple interface to create, update and remove events. Events will be shown on the main website under the events page. Three featured events will be shown on the homepage.
    </p>
	  <p>
		  An event must have a name, an image link to its poster, and a description.
	    The image link must be a direct link to the image, i.e. the link should end with ".jpg" or similar.
		  The event name is used to generate a short link for the event, and this link must be unique.
	    A warning will be shown during event creation if there are duplicate links.
	  </p>
    <%= link_to new_mc_event_path, class: 'radius button success' do %>
      <%= fa_icon 'plus', text: 'New Event', right: true %>
    <% end %>
  </div>

  <hr>

  <div class="columns small-12">
    <h3 class="bold">Featured Events</h3><h6 class="subheader"><%= @featured_events.count %> events</h6>
	  <p>
		  Homepage only shows 3 events. Please un-feature events if there are more than 3.
	  </p>
    <table width="100%">
      <thead>
      <tr>
        <th>Name</th>
        <th>Shortlink</th>
        <th>Featured</th>
        <th>Action</th>
      </tr>
      </thead>
      <tbody>
      <% @featured_events.each do |event| %>
        <% @event = event %>
        <tr id="event-<%= event.id %>">
          <td><%= event.name %></td>
          <td><%= event.link %></td>
          <td><%= event.featured %></td>
          <td>
            <ul class="button-group stack radius">
              <li><%= link_to 'View', mc_event_path(event), class: 'button info small expand' %></li>
              <li><%= link_to 'Edit', edit_mc_event_path(event), class: 'button small expand' %></li>
            </ul>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>

  <div class="columns small-12">
    <h3 class="bold">All Events</h3><h6 class="subheader"><%= @events.count %> events</h6>
	  <p>
		  Showing all events, including those in the Featured table.
	  </p>
    <table width="100%">
      <thead>
      <tr>
        <th>Name</th>
        <th>Shortlink</th>
        <th>Featured</th>
        <th>Action</th>
      </tr>
      </thead>
      <tbody>
      <% @events.each do |event| %>
        <% @event = event %>
        <tr id="event-<%= event.id %>">
          <td><%= event.name %></td>
          <td><%= event.link %></td>
          <td><%= event.featured %></td>
          <td>
            <ul class="button-group stack radius">
              <li><%= link_to 'View', mc_event_path(event), class: 'button info small expand' %></li>
              <li><%= link_to 'Edit', edit_mc_event_path(event), class: 'button small expand' %></li>
            </ul>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>

</div>

