<div class="row">

  <%= render partial: 'mc/locker/navigations', locals: {page: 'lockers'} %>

  <div class="columns small-12 medium-8">
    <h3>Locker Management</h3>
    <p>Manually add lockers if needed. It's a tough job, that's why we're counting on you!</p>
    <p>
      Click each location to see the lockers. Blue-coloured lockers are vacant. Orange-colored lockers are occupied.
      Click on a locker to see its details. Use the "Show All" tab below to see all lockers at once.
    </p>
  </div>

  <div class="columns small-12 medium-4">
    <%= link_to new_mc_locker_locker_path, class: 'button radius success expand' do %>
      <%= fa_icon 'plus', text: 'Create Locker', right: true %>
    <% end %>
  </div>

  <div class="columns small-12">
    <p>
    <ul class="accordion" data-accordion>
      <%# by location %>
      <% @lockers_by_location.sort_by{|location, _| location}.each do |location, lockers| %>
        <li class="accordion-navigation">
          <a href="<%= "#location-#{location}" %>">
            <%= fa_icon 'map-marker', text: "Location #{location}", right: false %>
            <%= fa_icon 'chevron-down', class: 'text-muted pull-right' %>
          </a>
          <div id='<%= "location-#{location}" %>' class="content">
            <table width="100%">
              <tr>
                <th>Total</th>
                <th><%= lockers.count %></th>
              </tr>
              <tr>
                <th>Vacant</th>
                <td><%= get_status_count lockers, 'vacant' %></td>
              </tr>
              <tr>
                <th>Occupied</th>
                <td><%= get_status_count lockers, 'occupied' %></td>
              </tr>
              <tr>
                <th>Faulty</th>
                <td><%= get_status_count lockers, 'faulty' %></td>
              </tr>
              <tr>
                <th>Closed</th>
                <td><%= get_status_count lockers, 'closed' %></td>
              </tr>
            </table>
            <ul class="small-block-grid-2 medium-block-grid-4 large-block-grid-6 text-center">
              <% lockers.sort_by{|locker| locker.number.to_i}.each do |locker| %>
                <li><%= link_to locker.number, mc_locker_locker_path(locker), class: "button expand radius #{convert_status_to_class locker.status}" %></li>
              <% end %>
            </ul>
          </div>
        </li>
		    <br>
      <% end %>
	    <br>

      <%# show all %>
      <li class="accordion-navigation">
        <a href="#show-all">
          <%= fa_icon 'eye', text: 'Show All', right: false %>
          <%= fa_icon 'chevron-down', class: 'text-muted pull-right' %>
        </a>
        <div id="show-all" class="content">
          <table width="100%">
            <tr>
              <th>Total</th>
              <th><%= @lockers.count %></th>
            </tr>
            <tr>
              <th>Vacant</th>
              <td><%= get_status_count @lockers, 'vacant' %></td>
            </tr>
            <tr>
              <th>Occupied</th>
              <td><%= get_status_count @lockers, 'occupied' %></td>
            </tr>
            <tr>
              <th>Faulty</th>
              <td><%= get_status_count @lockers, 'faulty' %></td>
            </tr>
            <tr>
              <th>Closed</th>
              <td><%= get_status_count @lockers, 'closed' %></td>
            </tr>
          </table>
          <ul class="small-block-grid-2 medium-block-grid-4 large-block-grid-6 text-center">
            <% @lockers.sort_by{|locker| locker.number.to_i}.each do |locker| %>
              <li><%= link_to "#{locker.location} - #{locker.number}", mc_locker_locker_path(locker), class: "button expand radius #{convert_status_to_class locker.status}" %></li>
            <% end %>
          </ul>
        </div>
      </li>
    </ul>
    </p>
  </div>

</div>