<div class="row">

  <div class="columns small-12">
    <h3 class="bold">Locker Details</h3>
  </div>

  <div class="columns small-12">
    <table width="100%">
      <tr>
        <th>Location</th>
        <td><%= @locker.location %></td>
      </tr>
      <tr>
        <th>Number</th>
        <td><%= @locker.number %></td>
      </tr>
      <tr>
        <th>Status</th>
        <td><%= @locker.status %></td>
      </tr>
      <tr>
        <th>Owner</th>
        <td>
	        <% if @locker.current_allocation %>
            <%= link_to @locker.current_allocation.user.uid, mc_locker_locker_allocation_path(@locker.current_allocation) %>
          <% else %>
            N/A <%= link_to '[new allocation]', new_mc_locker_locker_allocation_path %>
          <% end %>
        </td>
      </tr>
    </table>

    <table width="100%">
      <tr>
        <th>Locker ID</th>
        <td><%= @locker.id%></td>
      </tr>
      <tr>
        <th>Created At</th>
        <td><%= local_time @locker.created_at %></td>
      </tr>
      <tr>
        <th>Last Updated</th>
        <td><%= local_time @locker.updated_at %></td>
      </tr>
    </table>
  </div>

  <div class="columns small-12">
    <p>
    <ul class="accordion" data-accordion>
      <li class="accordion-navigation">
        <a href="#previous-allocations">
          <%= fa_icon 'users', text: 'Allocation History', right: false %>
          <%= fa_icon 'chevron-down', class: 'text-muted pull-right' %>
        </a>
        <div id="previous-allocations" class="content">
          <ul>
            <% @locker.allocations.archived.each if @locker.allocations.archived do |alloc| %>
              <li><%= link_to "#{alloc.user.uid} for #{alloc.round.acad_year}", mc_locker_locker_allocation_path(alloc) %></li>
            <% end %>
          </ul>
        </div>
      </li>
    </ul>
    </p>
  </div>

  <div class="large-12 columns">
    <ul class="button-group radius">
      <li><%= link_to 'Back', mc_locker_lockers_path, class: 'button small radius info' %></li>
      <li><%= link_to 'Edit', edit_mc_locker_locker_path(@locker), class: 'button small radius success' %></li>
      <li>
        <%= link_to 'Delete',
                    mc_locker_locker_path(@locker),
                    method: :delete,
                    data: { confirm: "Deleting Locker #{@locker.number}. Are you sure?" },
                    class: 'button small alert radius'
        %>
      </li>
    </ul>
  </div>

</div>
