<div class="row">

  <div class="small-12 columns">
    <h3 class="bold">Lockers in SoC</h3>
    <%= render 'announcements' %>
    <%= render 'about' %>
  </div>

  <hr>

  <%= render 'schedule' %>


  <%= render 'locations' %>


  <%= render 'terms' %>


  <%= render 'faqs' %>


  <%= render 'contact' %>

</div>