<div class="row">

  <div class="small-12 columns">
    <h3 class="bold">Sponsor Management</h3>
    <p>
      Simple interface to create, update and remove sponsors. Sponsors will be shown on the main website under the sponsors page.
      Currently only the logo and sponsor name will be displayed. Clicking on the sponsor logo will bring you to the sponsor's website.
    </p>
    <p>
      An sponsor must have a name, an image link to its logo, a description, a link to the sponsor's website.
      The image link must be a direct link to the image, i.e. the link should end with ".jpg" or similar.
      The image itself should be the sponsor logo and it must be square.
    </p>
    <%= link_to new_mc_sponsor_path, class: 'radius button success' do %>
      <%= fa_icon 'plus', text: 'Add Sponsor', right: true %>
    <% end %>
  </div>

  <hr>

  <div class="columns small-12">
    <h3 class="bold">All Sponsors</h3><h6 class="subheader"><%= @sponsors.count %> sponsors</h6>
    <p>
      Showing all sponsors.
    </p>
    <table width="100%">
      <thead>
      <tr>
        <th>Name</th>
        <th>Logo</th>
        <th>Link</th>
        <th>Action</th>
      </tr>
      </thead>
      <tbody>
      <% @sponsors.each do |sponsor| %>
        <% @sponsor = sponsor %>
        <tr id="sponsor-<%= sponsor.id %>">
          <td><span data-tooltip
                    aria-haspopup="true"
                    class="has-tip radius"
                    title="<%= "#{sponsor.description.empty? ? 'No description available...' : "#{sponsor.description}"}"%>">
            <%= sponsor.name %>
	          </span>
          </td>
          <td><%= image_tag sponsor.img, class: 'th' %></td>
          <td><%= link_to sponsor.website, target: '_blank' %></td>
          <td>
            <ul class="button-group stack radius">
              <li><%= link_to 'View', mc_sponsor_path(sponsor), class: 'button info small expand' %></li>
              <li><%= link_to 'Edit', edit_mc_sponsor_path(sponsor), class: 'button small expand' %></li>
            </ul>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>

</div>

