<div class="row">

  <div class="large-12 columns">
    <h3 class="bold">Console Home</h3>
    <p>Welcome, <%= '[MC_MEMBER_NAME]' %>.</p>
    Quick Links
    <ul>
      <li><%= link_to 'Locker Balloting System', mc_locker_path %></li>
      <li><%= link_to 'Enquiries', mc_enquiries_path %></li>
      <li><%= link_to 'Main Website', root_url(subdomain: '') %></li>
      <li><%= link_to 'Student Portal', root_url(subdomain: 'portal') %></li>
    </ul>
  </div>

</div>