<%= form_for :enquiry, remote: true, html: { class: "enquiry-form" } do |f| %>
  
  <div class="row">
		<div class="large-4 medium-6 columns">
			<label>
				Name <span class="required-asterisk">*</span>
      	<%= f.text_field :name, required: "required" %>
      </label>
		</div>
		<div class="large-4 medium-6 columns">
			<label>
				Email <span class="required-asterisk">*</span>
	    	<%= f.text_field :email, pattern: "^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\\.[a-zA-Z]{2,4}$", required: "required" %>
	    </label>
		</div>
		<div class="large-4 medium-12 columns">
			<label>
				Contact No.
	    	<%= f.text_field :contact, pattern: "[0-9]*" %>
	    </label>
		</div>
	</div>
	<div class="row">
		<div class="large-12 columns">
			<label>
				Message <span class="required-asterisk">*</span>
	    	<%= f.text_area :message, required: "required", rows: "10" %>
	    </label>
		</div>
	</div>
	<div class="row">
		<div class="large-12 columns">
			<%= f.button "Submit", class: "right" %>
		</div>
	</div>
	
	<div id="loadingModal" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
		<p><span class="loading-message">Submitting enquiry, please wait</span></p>
	</div>
	
	<div id="completeModal" class="reveal-modal large-12 small-12 columns" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
		<p><span class="complete-message"></span></p>
		<a class="button radius info close">OK</a>
		<a class="close-reveal-modal" aria-label="Close">&#215;</a>
	</div>
 
<% end %>
