<div class="row">
  <div class="medium-12 large-12 columns">
    <h3 class="bold">About Us</h3>
    <%= image_tag "about/about-photo.jpg", class: "radius" %>
    <br><br>
    <p>
      The NUS Students’ Computing Club, commonly known as CompClub, is a
      constituent club under NUS Students' Union (NUSSU). It represents all the
      undergraduates in NUS School of Computing and works together with
      different organizations to cater to the members' different needs and
      wants. CompClub strives to be the bridge between its members and the
      staff in the School of Computing, facilitating new initiatives by the
      school and channeling the feedback from its members to the right office.
    </p>
    <p>
      Members can share their feedback to us by sending it to
      <a href="mailto:connect@nuscomputing.com" target="_top">
        connect@nuscomputing.com
      </a>
      or message us at our Facebook page
      (<a href="http://fb.com/nuscomputing" target="_blank">fb.com/nuscomputing</a>).
    </p>
    <p>
      Throughout a typical academic year, CompClub organizes various events for
      its members. There are camps specially designed to assist the incoming
      freshmen, collaborations with the professors to provide addtional
      assistance to the weaker students, parties for our members who are
      graduating and many more events! Browse through the website for more
      information regarding our events and initiatives :)
    </p>
  </div>
</div>

<div class="row">
  <hr>
</div>

<div class="row">
  <div class="medium-12 large-12 columns">
    <h3 class="bold">18<sup>th</sup> Management Committee</h3>
  </div>
</div>

<% @wings.each do |wing| %>
  <% wing_members = @members.where(:wingid => wing.wingid) %>
  <div class="row">
    <div class="medium-12 large-12 columns end">
      <h4>
        <div class="wing-name-class"><%= wing.wingname %></div>
      </h4>
    </div>
  </div>
  <% wing_members.each_slice(4) do |member_row_slice| %>
    <div class ="row">
      <% member_row_slice.each do |mc_member| %>
        <a class="ajax-popup" href="/templates/about/<%= mc_member.name %>">
          <div class="medium-3 large-3 columns end">
            <div class="mcmember">
              <center>
                <div class="about-thumbnail">
                  <%= image_tag mc_member.formalimg %>
                  <%= image_tag mc_member.casualimg %>
                </div>
                <span class="bold"><%= mc_member.name %></span><br>
                <%= mc_member.position %>
              </center>
            </div>
          </div>
        </a>
      <% end %>
    </div>
  <% end %>
<% end %>
