<div class="row white">
  <div class="medium-12 large-12 columns">
    <h3 class="bold">Our Sponsors</h3>
    <p>
      We would like to thank our sponsors for supporting our events and believing in us throughout the years. We hope to continue this beneficial working relationship with our sponsors and hope to forge more relationships with organisations that may want to support us as well.
    </p>
    <p>
      Please contact us at <a href="mailto:connect@nuscomputing.com">connect@nuscomputing.com</a> if you would like to be a supporter for our future events!
    </p>
    <% if @downloader.errors.any? %>
      <p>Download failed: Please try again. Please make sure you have completed all fields with the appropriate information before downloading.</p>
    <% end %>
    <p>
      Download our sponsor kit <a href="#form">here</a>.
    </p>

    <div id="form" class="modalDialog">
      <div class="small-10 medium-8 medium-centered large-8 large-centered columns">
        <a href="#close" class="button small close">X</a>
        <h3>Download our sponsor kit</h3>

        <%= simple_form_for(@downloader, url: create_downloader_path(@downloader)) do |f| %>
          <%= f.input :name %>
          <%= f.input :phone %>
          <%= f.input :email %>
          <%= f.input :organisation %>
          <p>The NUS Students' Computing Club aims to comply with the requirements of the <a href="http://statutes.agc.gov.sg/aol/search/display/view.w3p;page=0;query=DocId%3Aea8b8b45-51b8-48cf-83bf-81d01478e50b%20Depth%3A0%20Status%3Ainforce;rec=0">Personal Data Protection Act 2012</a> ("PDPA") and respects your choices in respect of your personal data.</p>
          <%= f.button :submit, "Download" %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="row white">
  <div class="small-12 medium-12 large-12 columns">
    <ul class="small-block-grid-2 medium-block-grid-4">
      <% @sponsors.each do |sponsor| %>
        <li>
          <span data-tooltip
                aria-haspopup="true"
                data-options="disable_for_touch:true"
                class="has-tip tip-right radius"
                title="<%= "<strong>#{sponsor.name}</strong><br>#{sponsor.description.empty? ? 'No description available' : "#{sponsor.description}"}"%>",
                style='border-bottom: initial;'>
            <%= link_to image_tag(sponsor.img), url_for(sponsor.website), target: "_blank" %>
          </span>
        </li>
      <% end %>
    </ul>
  </div>
</div>