<div class="row">
  <div class="medium-12 large-12 columns">
    <h3 class="bold">Academic Information</h3>
    <p>
      Visit <%= link_to "the school's website", "http://www.comp.nus.edu.sg/", target: "_blank" %> for more information about official school events and more course information.
    </p>
    <p>
      Visit <%= link_to "Collate", "http://www.comp.nus.edu.sg/~kohzk/", target: "_blank" %> for a compilation of academic information (and more).
    </p>
    <p>
      Email acad[at]nuscomputing[dot]com if you have any questions regarding academics!
    </p>
  </div>
</div>

<div class="row">
  <div class="medium-12 large-12 columns">
    <h3 class="bold">Student Services</h3>

    <h4 class="italics">Up For Loan!</h4>

    <div class="row" data-equalizer>
      <div class="large-4 columns">
        <div class="panel radius poster-box">
          <div data-equalizer-watch>
            <%= image_tag "students/lockers.jpg", class: "radius" %>
          </div>
          <hr>
          <h6 class='bold'>Lockers</h6>
        </div>
      </div>
      <div class="large-4 columns">
        <div class="panel radius poster-box">
          <div data-equalizer-watch>
            <%= image_tag "students/games-loan.jpg", class: "radius" %>
          </div>
          <hr>
          <h6 class='bold'>Board Games</h6>
        </div>
      </div>
      <div class="large-4 columns">
        <div class="panel radius poster-box">
          <div data-equalizer-watch>
            <%= image_tag "students/extension-loan.jpg", class: "radius" %>
          </div>
          <hr>
          <h6 class='bold'>Extensions Cords</h6>
        </div>
      </div>
    </div>
    <p>
      Loan free lockers, board games and extension cords from us! Shoot an email to logistics[at]nuscomputing[dot]com or come down to <%= link_to "our clubroom", "/connect" %> to see what we have in store!
    </p>

  </div>
</div>