<script>
	$('#button-allocations').addClass('info');
</script>

<div class="row">

  <%= render partial: 'mc/locker/navigations', locals: {page: 'allocations'} %>

  <div class="columns small-12 medium-8">
    <h3>Allocations Management</h3>
    <p>Manually allocate lockers to students. Edit or remove current allocations.</p>
    <p>Click <em>Retrieve Allocations</em> to see all locker allocations made thus far for the selected year. </p>
  </div>

  <div class="columns small-12 medium-4">
    <%= link_to new_mc_locker_locker_allocation_path, class: 'button radius success expand' do %>
      <%= fa_icon 'plus', text: 'Create Allocation', right: true %>
    <% end %>
    <%= link_to mc_locker_locker_allocations_path(format: 'csv'), class: "button radius expand" do %>
      <%= fa_icon 'download', text: 'Download All', right: true %>
	  <% end %>
  </div>

  <div class="columns small-12">
    <%= simple_form_for :locker_allocation, url: mc_locker_locker_allocations_path, method: :get, remote: true do |f|  %>
      <%= f.input :year, collection: LockerRound.select('acad_year').distinct.order('acad_year desc'), label_method: :acad_year, value_method: :acad_year, include_blank: false %>
      <%= f.button :submit, 'Retrieve Allocations', class: 'radius info button expand', name: 'retrieve' %>
    <% end %>

    <div class="allocation-data columns small-12">
      <%#= render partial: 'allocations', locals: { allocations: @allocations } %>
    </div>
  </div>

</div>

