<h1 class="text-center">17th Management Committee</h1>
<div class="text-center"><small class='subheader'>~Committee member, committee member everywhere~</small></div>
<br>
<br>

<div class="content">
	<div class="cell-name text-center"><h2>~ Presidential Cell ~</h2></div>
	
	<div class="member panel row">
		<div class="columns small-12 medium-6 large-4 photo">
			<%= image_tag "photos/Davis.jpg", class: "th radius" %>
		</div>
		<div class="columns small-12 medium-6 large-8 desc">
			<div class="header">
				<h3><span class="title">President: </span> <span class="name">Gay Ming Jian Davis</span></h3>
			</div>
			<div class="major"><h4 class="subheader">Computer Science, Year 3</h4></div>
			<hr>
			<div class="intro">
				<p>The first step to solve a problem is to recognise that there is a problem</p>
				<p>
					The Presidential Cell understands that the Computing Club and the NUS Student Union (NUSSU) in 
					general has not been engaging our students as much as we should by our founding principles. We 
					will do our best to change the internal working system (in Computing Club and NUSSU) to place 
					more focus on being the voice of students and to create more working opportunities with NUS, SoC, 
					NUSSU, as well as our Computing Alumni Assocation to create more engagement and enrichment opportunities for our students.
				</p>
			</div>
		</div>
	</div>

	<div class="member panel row">
		<div class="columns small-12 medium-6 large-8 desc">
			<div class="header">
				<h3><span class="title">Vice President (External Relations): </span> <span class="name">Goh Yuan Tat</span></h3>
			</div>
			<div class="major"><h4 class="subheader">Computer Science, Year 2</h4></div>
			<hr>
			<div class="intro">

			</div>
		</div>
		<div class="columns small-12 medium-6 large-4 photo">
			<%= image_tag "photos/Silfer.jpg", class: "th radius" %>
		</div>
	</div>

	<div class="member panel row">
		<div class="columns small-12 medium-6 large-4 photo">
			<%= image_tag "photos/Victor.jpg", class: "th radius" %>
		</div>
		<div class="columns small-12 medium-6 large-8 desc">
			<div class="header">
				<h3><span class="title">Vice President (Operations &amp; Projects): </span> <span class="name">Victor Hazali</span></h3>
			</div>
			<div class="major"><h4 class="subheader">Computer Science, Year 3</h4></div>
			<hr>
			<div class="intro">
				<p>Hello! Feel free to approach me if there's anything you'd like to ask about the MC or simply for a lil' chat!</p>
			</div>
		</div>
	</div>

	<div class="member panel row">
		<div class="columns small-12 medium-6 large-8 desc">
			<div class="header">
				<h3><span class="title">Vice President (Human Resource &amp; Development): </span> <span class="name">Goh Ser Ming</span></h3>
			</div>
			<div class="major"><h4 class="subheader">Information Systems, Year 3</h4></div>
			<hr>
			<div class="intro">
				<p>
					안녕하세요! Just like all of you out there, I'm a normal student who enjoys my time with friends and also by myself!
					I'm quite an introvert, mainly because i spend most of my time watching korean variety shows or playing games (though 
					some of my friends say otherwise). Btw, the first few korean words meant 'hello!' and yes, I am currently taking 
					korean in NUS now! (it's actually the lesson which i look forward to every week :D ) I'm always up to discover 
					and try out new things, so do call me along if you are looking for a partner!
				</p>
			</div>
		</div>
		<div class="columns small-12 medium-6 large-4 photo">
			<%= image_tag "photos/SerMing.jpg", class: "th radius" %>
		</div>
	</div>

	<div class="member panel row">
		<div class="columns small-12 medium-6 large-4 photo">
			<%= image_tag "photos/Yesha.jpg", class: "th radius" %>
		</div>
		<div class="columns small-12 medium-6 large-8 desc">
			<div class="header">
				<h3><span class="title">General Secretary: </span> <span class="name">Simaria Yesha Bharat</span></h3>
			</div>
			<div class="major"><h4 class="subheader">Information Systems, Year 3</h4></div>
			<hr>
			<div class="intro">
			</div>
		</div>
	</div>

	<div class="member panel row">
		<div class="columns small-12 medium-6 large-8 desc">
			<div class="header">
				<h3><span class="title">Assistant General Secretary: </span> <span class="name">Li Jia'En, Nicholette</span></h3>
			</div>
			<div class="major"><h4 class="subheader">Computer Science, Year 3</h4></div>
			<hr>
			<div class="intro">
			</div>
		</div>
		<div class="columns small-12 medium-6 large-4 photo">
			<%= image_tag "photos/Nicholette.jpg", class: "th radius" %>
		</div>
	</div>

	<div class="cell-name text-center"><h2>~ Finance Cell ~</h2></div>

	
	<div class="member panel row">
		<div class="columns small-12 medium-6 large-4 photo">
			<%= image_tag "photos/Jeremy.jpg", class: "th radius" %>
		</div>
		<div class="columns small-12 medium-6 large-8 desc">
			<div class="header">
				<h3><span class="title">Director of Finance: </span> <span class="name">Hon Guang Yu Jeremy</span></h3>
			</div>
			<div class="major"><h4 class="subheader">Computer Science, Year 2</h4></div>
			<hr>
			<div class="intro">
			</div>
		</div>
	</div>

	<div class="member panel row">
		<div class="columns small-12 medium-6 large-8 desc">
			<div class="header">
				<h3><span class="title">Director of Finance: </span> <span class="name">Chee Wai Hon</span></h3>
			</div>
			<div class="major"><h4 class="subheader">Business Analytics, Year 3</h4></div>
			<hr>
			<div class="intro">
			</div>
		</div>
		<div class="columns small-12 medium-6 large-4 photo">
			<%= image_tag "photos/WaiHon.jpg", class: "th radius" %>
		</div>
	</div>


	<div class="cell-name text-center"><h2>~ External Relations ~</h2></div>


	<div class="member panel row">
		<div class="columns small-12 medium-6 large-4 photo">
			<%= image_tag "photos/HuiYie.jpg", class: "th radius" %>
		</div>
		<div class="columns small-12 medium-6 large-8 desc">
			<div class="header">
				<h3><span class="title">Director of Marketing: </span> <span class="name">Chng Hui Yie</span></h3>
			</div>
			<div class="major"><h4 class="subheader">Information Systems, Year 2</h4></div>
			<hr>
			<div class="intro">
				<p>
					Hi! I'm Hui Yie but in SoC, I go by Lupsupyie, Burdenyie, Chngboliao and a bunch of other 
					nicknames! During my free time I enjoy cracking jokes, eating llaollao, and meeting people 
					from anywhere and everywhere~ That's why I became interested in Marketing and chose to serve 
					the SoC community by being part of the Marketing cell. Feel free to approach Daren and I if 
					you have any suggestions regarding sponsorships, SoC merchandise, Bazaar, or anything at all! :)
				</p>
			</div>
		</div>
	</div>

	<div class="member panel row">
		<div class="columns small-12 medium-6 large-8 desc">
			<div class="header">
				<h3><span class="title">Deputy Director of Marketing: </span> <span class="name">Daren Leong</span></h3>
			</div>
			<div class="major"><h4 class="subheader">Information Systems, Year 2</h4></div>
			<hr>
			<div class="intro">
				<p>
					Hello, i'm Daren pronounced as Day-ren but you can call me at night too ^^ While it might not seem like it, I am very friendly so feel free to approach me for a chat or if you would like to find out more about how we find sponsors for the various events for computing club!
				</p>
			</div>
		</div>
		<div class="columns small-12 medium-6 large-4 photo">
			<%= image_tag "photos/Daren.jpg", class: "th radius" %>
		</div>
	</div>

	<div class="member panel row">
		<div class="columns small-12 medium-6 large-4 photo">
			<%= image_tag "photos/Jaslyn.jpg", class: "th radius" %>
		</div>
		<div class="columns small-12 medium-6 large-8 desc">
			<div class="header">
				<h3><span class="title">Director of Publicity: </span> <span class="name">Lee Shean Yin</span></h3>
			</div>
			<div class="major"><h4 class="subheader">Information Systems, Year 2</h4></div>
			<hr>
			<div class="intro">
			</div>
		</div>
	</div>

	<div class="member panel row">
		<div class="columns small-12 medium-6 large-8 desc">
			<div class="header">
				<h3><span class="title">Deputy Director of Publicity: </span> <span class="name">Tang Kai Ling</span></h3>
			</div>
			<div class="major"><h4 class="subheader">Computer Science, Year 2</h4></div>
			<hr>
			<div class="intro">
			</div>
		</div>
		<div class="columns small-12 medium-6 large-4 photo">
			<%= image_tag "photos/KaiLing.jpg", class: "th radius" %>
		</div>
	</div>

	<div class="member panel row">
		<div class="columns small-12 medium-6 large-4 photo">
			<%= image_tag "photos/Wenqi.jpg", class: "th radius" %>
		</div>
		<div class="columns small-12 medium-6 large-8 desc">
			<div class="header">
				<h3><span class="title">Director of Alumni Relations: </span> <span class="name">Wu Wenqi</span></h3>
			</div>
			<div class="major"><h4 class="subheader">Computer Science, Year 2</h4></div>
			<hr>
			<div class="intro">
				<p>
					Hi I'm Wenqi! I'm grateful to be given this opportunity to serve. As the AR director, I seek to provide opportunities for us to connect with the alumni as well as to enrich our time spent in SoC. If you have any suggestions, or want to know more about what Alumni Relations cell is up to, feel free to facebook message / talk to me anytime!
				</p>
			</div>
		</div>
	</div>

	<div class="member panel row">
		<div class="columns small-12 medium-6 large-8 desc">
			<div class="header">
				<h3><span class="title">Deputy Director of Alumni Relations: </span> <span class="name">Lim Si Yi</span></h3>
			</div>
			<div class="major"><h4 class="subheader">Business Analytics, Year 2</h4></div>
			<hr>
			<div class="intro">
				<p>
					Hi I'm Si Yi! I may look fierce but I'm actually not muahaha! Feel free to approach me if you have any questions regarding our alumni or how they work with us to provide better career guidance for you! See you around! :)
				</p>
			</div>
		</div>
		<div class="columns small-12 medium-6 large-4 photo">
			<%= image_tag "photos/SiYi.jpg", class: "th radius" %>
		</div>
	</div>


	<div class="cell-name text-center"><h2>~ Operations &amp; Projects ~</h2></div>


	<div class="member panel row">
		<div class="columns small-12 medium-6 large-4 photo">
			<%= image_tag "photos/Joseph.jpg", class: "th radius" %>
		</div>
		<div class="columns small-12 medium-6 large-8 desc">
			<div class="header">
				<h3><span class="title">Director of Logistics: </span> <span class="name">Cheng Boon Yew, Joseph</span></h3>
			</div>
			<div class="major"><h4 class="subheader">Computer Science, Year 2</h4></div>
			<hr>
			<div class="intro">
			</div>
		</div>
	</div>

	<div class="member panel row">
		<div class="columns small-12 medium-6 large-8 desc">
			<div class="header">
				<h3><span class="title">Deputy Director of Logistics: </span> <span class="name">Terence Lim Jun Chai</span></h3>
			</div>
			<div class="major"><h4 class="subheader">Computer Science, Year 2</h4></div>
			<hr>
			<div class="intro">
				<p>Hey you! Yes you! Stop staring at all the pictures of our hunks and babes in computing club, yes we're aware of that! :P </p>
				<p>So, instead of just staring at us from afar, how about you come on over to the clubroom or wherever you find us and talk to us! </p>
				<p>No worries, we won't BITE :D </p>
				<p>We're a friendly bunch and if you do encounter any problems or services that you think can be improved upon, please WE'RE BEGGING YOU!! Come to us and tell us!! </p>
				<p>Seriously, we are harmless creatures...till night falls, where we....</p>
			</div>
		</div>
		<div class="columns small-12 medium-6 large-4 photo">
			<%= image_tag "photos/Terence.jpg", class: "th radius" %>
		</div>
	</div>

	<div class="member panel row">
		<div class="columns small-12 medium-6 large-4 photo">
			<%= image_tag "photos/Leo.jpg", class: "th radius" %>
		</div>
		<div class="columns small-12 medium-6 large-8 desc">
			<div class="header">
				<h3><span class="title">Director of Freshmen Projects: </span> <span class="name">Leonardo Sjahputra</span></h3>
			</div>
			<div class="major"><h4 class="subheader">Computer Science, Year 3</h4></div>
			<hr>
			<div class="intro">
				<p>Imagine yourself in a room. </p>
				<p>
					You're sitting down and across the table, a guy with a black leather jacket is looking straight at you. <br />
					He starts speaking in Japanese, then asks you a question in Indonesian (you have no idea what he asked) and then smirks at your confused face. <br />
					He looks bored and plugs his laptop to a speaker, plays some music and starts dancing to the beat, seemingly ignoring you. You want to proceed to mind your own but you just can't seem to, as if you'll miss something awesome if you don't keep looking at him. <br />
					He finally stops dancing and goes at his laptop, plugs the speaker out and his earphones in, and starts minding his own. You realise that there's nothing else to see so you mind your own too. <br />
					After what seems like a short eternity, suddenly he plugs his earphones out, closes his laptop and asks if you'd like to have steamboat for the night, in English.
				</p>
				<p>
					Now the story stops here. If your answer is yes then you and I could be friends. If your answer is no, then perhaps the man will ask you again another time.
				</p>
				<p>Moral of the story: I don't have a black leather jacket, so the guy is definitely not me.</p>
			</div>
		</div>
	</div>

	<div class="member panel row">
		<div class="columns small-12 medium-6 large-8 desc">
			<div class="header">
				<h3><span class="title">Deputy Director of Freshmen Projects: </span> <span class="name">Teo Hui Wen</span></h3>
			</div>
			<div class="major"><h4 class="subheader">Computer Science, Year 3</h4></div>
			<hr>
			<div class="intro">
				<p>
					Hi everyone! <br />
					You can call me huiwen or hoshi! <br />
					I think my voice is more famous than me HAHA <br />
					Don't feel shy to say hi *wink* 
				</p>
			</div>
		</div>
		<div class="columns small-12 medium-6 large-4 photo">
			<%= image_tag "photos/HuiWen.jpg", class: "th radius" %>
		</div>
	</div>

	<div class="member panel row">
		<div class="columns small-12 medium-6 large-4 photo">
			<%= image_tag "photos/Nhan.jpg", class: "th radius" %>
		</div>
		<div class="columns small-12 medium-6 large-8 desc">
			<div class="header">
				<h3><span class="title">Director of IT: </span> <span class="name">Nguyen Thanh Nhan</span></h3>
			</div>
			<div class="major"><h4 class="subheader">Computer Science, Year 3</h4></div>
			<hr>
			<div class="intro">
				<p>
					Friendly, quiet, definitely not dangerous. I'm almost always approachable. But if you want to have a chat, 
					come and we will have a conversation (non-sense guaranteed).
				</p>
			</div>
		</div>
	</div>

	<div class="member panel row">
		<div class="columns small-12 medium-6 large-8 desc">
			<div class="header">
				<h3><span class="title">Deputy Director of IT: </span> <span class="name">Abdul Haliq S/O Abdul Latiff</span></h3>
			</div>
			<div class="major"><h4 class="subheader">Computer Science, Year 2</h4></div>
			<hr>
			<div class="intro">
				<p>
					Hi there! You might have trouble pronouncing my name, or maybe not, but either way good job!
					I gain 20exp everytime someone says my name. Thats my secret to becoming a level 90 paladin. Besides summoning the aetherical creatures to vanquish my enemies, I also enjoy music (any genre really except country... nobody likes country (no offense if you do)).
				</p>
				<p>
					n my free time, you'll most likely find me in the depths of the internets dabbling with code. I enjoy automizing problems, finding patterns and designing sw architecture. If you have some free time to spare, do look me up on the internets: iluvAS. Thats my game developer alias (yes i make games, crappy ones though, don't put your hopes up).
				</p>
				<p>
					Besides just logic in software, I'm also awestruck of its parallelism in the universe. Like seriously... seriously listen ... I'm not high (i think)... logic transcends math, epistemology, social sciences and practically any subject matter you can think of. I'm inspired by the greats such as Stephen Hawking, Ibn al-Haytham, and so on (my list of rockstars is too long) which is why I live by the philosophy of monism and see the world through the lens of digital philosophy. What if we're living in a video game? A paladin might be able to do penta kills but he can never be aware that his kill streaks are just binary data and the very idea of electricity in transistors representing his sweet combo attacks baffles him... he is nothing but a symbol inhrent from the patterns of arbitary transistor states...
				</p>
				<p>
					but we must stop. We have gone so deep you can even see Adelle rolling, If you enjoy these topics, find me in school, and we'll be best friends. I'll still be your friend if you don't ;D. Now before you scroll any further, give me another 20exp.
				</p>
			</div>
		</div>
		<div class="columns small-12 medium-6 large-4 photo">
			<%= image_tag "photos/Haliq.jpg", class: "th radius" %>
		</div>
	</div>

	<div class="cell-name text-center"><h2>~ Human Resource &amp; Development ~</h2></div>

	<div class="member panel row">
		<div class="columns small-12 medium-6 large-4 photo">
			<%= image_tag "photos/Feixue.jpg", class: "th radius" %>
		</div>
		<div class="columns small-12 medium-6 large-8 desc">
			<div class="header">
				<h3><span class="title">Director of Welfare: </span> <span class="name">Huang Feixue</span></h3>
			</div>
			<div class="major"><h4 class="subheader">Computer Science, Year 2</h4></div>
			<hr>
			<div class="intro">
				<p>
					Hey there! Don't be shy! <br />
					Call me Pretty, Smart &amp; Humble to get free tissue paper! ;P
				</p>
			</div>
		</div>
	</div>

	<div class="member panel row">
		<div class="columns small-12 medium-6 large-8 desc">
			<div class="header">
				<h3><span class="title">Deputy Director of Welfare: </span> <span class="name">Tan Teck Zhi</span></h3>
			</div>
			<div class="major"><h4 class="subheader">Computer Engineering, Year 3</h4></div>
			<hr>
			<div class="intro">
				<p>
					Good day everyone! Let me sing you a song! <br />
					I love you! You love me! we are one big SOC :D <br />
					Feeling stress? Let's stress with you OR WE CAN DESTRESS TOGETHER. lalala~~ <br />
					We are the crazy people~
				</p>
			</div>
		</div>
		<div class="columns small-12 medium-6 large-4 photo">
			<%= image_tag "photos/Edward.jpg", class: "th radius" %>
		</div>
	</div>

	<div class="member panel row">
		<div class="columns small-12 medium-6 large-4 photo">
			<%= image_tag "photos/Thenaesh.jpg", class: "th radius" %>
		</div>
		<div class="columns small-12 medium-6 large-8 desc">
			<div class="header">
				<h3><span class="title">Director of Academic Liaison: </span> <span class="name">Thenaesh S/O Elango</span></h3>
			</div>
			<div class="major"><h4 class="subheader">Computer Science, Year 2</h4></div>
			<hr>
			<div class="intro">
				<p>
					Greetings! <br />
					I am Thenaesh, also known as the crazy guy who starts technical conversations at wildly inappropriate times. I'm trying to cut down on that, but it's hard. :P <br />
					I live by the principle of learning what you don't know and teaching what you know, and I enjoy both activities very much! It's partly the reason why I chose to become Director of Academic Liaison.
				</p>
				<p>
					I enjoy taking long walks to random places around Singapore and enjoying the scenery (yes, it exists in Singapore; you just have to know where to look). I generally love animals and have a tendency to observe their behaviour when I'm bored. During NS, I made a mental map of the lizard, bird and mouse populations living in the vicinity of the place I was stationed in because I was that bored! <br />
					I love expressive programming languages (Scala, Ruby and JS come to mind), as I love the feeling of freedom when I code. I'm also a strong advocate for free/open-source software as I feel that a user has the right to view and modify a piece of code before running it on his/her computer, and proprietary software generally makes a mockery of this right by running code designed to artificially restrict the user on his/her own computer (i.e. DRM)! How ridiculous is that? I feel that a balance can be struck between the rights of users and the rights of copyright-holders with software licenses that permit viewing and modifying, but not necessarily redistributing, the source code. Better yet, enshrine the right to view and modify in the law.
				</p>
				<p>
					You can usually find me hanging around various locations in SoC whenever I'm in school. I tend to treat SoC as my home ground, and often return to COM1 between two lectures at Science. <br />
					Feel free to approach me if you feel there is a need for any workshop/event that will help you and your friends in academic/career matters. We can make it happen! :D Also, if you're bored and are the sort of person who enjoys debates about Ruby vs Python or Windows vs Mac vs Linux, or technical conversations, COME AND FIND ME!!! (No Vim vs Emacs please. That's one war I will not venture into. xD)
				</p>
			</div>
		</div>
	</div>

	<div class="member panel row">
		<div class="columns small-12 medium-6 large-8 desc">
			<div class="header">
				<h3><span class="title">Deputy Director of Academic Liaison: </span> <span class="name">Ng Si Kai</span></h3>
			</div>
			<div class="major"><h4 class="subheader">Computer Science, Year 2</h4></div>
			<hr>
			<div class="intro">
			</div>
		</div>
		<div class="columns small-12 medium-6 large-4 photo">
			<%= image_tag "photos/SiKai.jpg", class: "th radius" %>
		</div>
	</div>

	<div class="member panel row">
		<div class="columns small-12 medium-6 large-4 photo">
			<%= image_tag "photos/YongMing.jpg", class: "th radius" %>
		</div>
		<div class="columns small-12 medium-6 large-8 desc">
			<div class="header">
				<h3><span class="title">Director of Sports: </span> <span class="name">Tan Yongming</span></h3>
			</div>
			<div class="major"><h4 class="subheader">Information Systems, Year 2</h4></div>
			<hr>
			<div class="intro">
				<p>
					Sports in an environment like SoC is uncommon, irrelevant, and unrecognised.
				</p>
				<p>
					However, Sports is invaluable as it builds character and friendships that no academic modules do. 
				</p>
				<p>
					My goals are to identify students who believe in the value of Sports, to influence students to believe in the value of Sports, and together, build the strongest SoC character and network, ever.
				</p>
			</div>
		</div>
	</div>
</div>
