<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />

  <style type="text/css">
	  .wrapper {
		  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	  }

	  table, th, td {
		  border: 1px solid #dddddd
	  }

	  td {
		  padding: 15px;
	  }

	  .attr-name {
		  font-weight: bold;
	  }

	  .footer {
		  border-top: 1px solid #dddddd;
		  padding-top: 8px;
		  font-size: 12px;
		  font-style: italic;
	  }
  </style>

</head>

<body>
<div class="wrapper">
  <p>
    Dear <%= @user.uid %>,
  </p>

  <p>
    Thank you for taking part in the Locker Balloting Exercise. You have been successfully allocated the following locker:
  </p>

  <table>
    <tr>
      <td class="attr-name">Locker Location:</td>
      <td class="attr-value"><%= @locker.location %></td>
    </tr>

    <tr>
      <td class="attr-name">Locker Number:</td>
      <td class="attr-value"><%= @locker.number %></td>
    </tr>

    <tr>
      <td class="attr-name">Allocated Period:</td>
      <td class="attr-value"><%= @round.acad_year %></td>
    </tr>
  </table>

  <p>
    Visit <a href="portal.nuscomputing.com/locker">portal.nuscomputing.com/locker</a> to check your locker's location.
  </p>

  <p>
    Please contact us at <%= mail_to 'connect@nuscomputing.com', 'connect@nuscomputing.com', subject: '[Locker Ballot] Enquiries' %> if you have any issues.
  </p>

  <div class="footer">
    <a href="nuscomputing.com">NUS Computing</a>
  </div>

</div>
</body>
</html>