<%= simple_form_for [:portal, :locker, @ballot], html: { id: 'ballot_form' } do |f| %>
  <%= f.association :round, as: :hidden, input_html: { value: @round.id } %>
  <%= f.input :location,
              collection: Locker.locations.keys,
              label_method: lambda {|l| LockerBallot.stat_by_location(@round, l)},
              include_blank: false,
              label: 'Location (Ballots / Lockers Available)'
  %>

  <label>
    I understand that the termination date for the rental of lockers is <strong><u>31st May 2017</u></strong>, and I will be responsible to remove my belongings and padlock by that date. Else an administrative fee of $10 will be imposed to claim back my belongings.
  </label>

  <label>
    <input class="boolean" type="checkbox" value="1" id="ballot-agreement">
    * I agree
  </label>

  <%= f.button :submit, 'Submit', class: 'radius success', id: 'ballot-form-submit-button', disabled: 'disabled', data: { disable_with: "Submitting..." } %>
  <% if @ballot.persisted? %>
    <%= link_to 'Delete',
                portal_locker_locker_ballot_path(@ballot),
                method: :delete,
                action: :destroy,
                data: { confirm: "Deleting ballot for #{@round.label}. Are you sure?" },
                class: 'button radius alert' %>
  <% end %>
<% end %>
<script>
	$("#ballot-agreement").change(function() {
		$("#ballot-form-submit-button").prop('disabled', !this.checked);
	});
</script>