<div class="row">

  <div class="columns small-12">
    <h3 class="bold">Locker Balloting System</h3>
    <p><span class="label round info">Page accessed at</span> <%= local_time Time.zone.now %></p>
  </div>

  <% if locker_allocated?(current_user) %>
    <%= render 'allocated' %>

  <% elsif @round # if there is an active round %>
    <%= render 'ballot' %>

  <% else # no active round and no allocation %>
    <%= render 'closed' %>

  <% end %>

  <%= render 'guidelines' %>

	<%= render 'portal/locker/locations' %>

</div>
