Transactions made by you:
<table>
	<tr>
		<th class="text-center" rowspan="2">QRCode</th>
		<th class="text-center" rowspan="2" width="100">Status</th>
		<th class="text-center" colspan="2">Pending</th>
		<th class="text-center" colspan="3">Transaction</th>
	</tr>
	<tr>
		<th class="text-center">Sent At</th>
		<th class="text-center">Expires At</th>
		<th class="text-center">Began At</th>
		<th class="text-center">Ends At</th>
		<th class="text-center">Completed At</th>
	</tr>
	<% item_transactions.order(:status, :pending_sent_at, :transaction_began_at).each do |item_transaction| %>
		<tr>
			<td><%= image_tag item_transaction.qrcode.url, class: "th radius"%></td>
			<td><%= item_transaction.status.capitalize %></td>
			<td><%= local_time item_transaction.pending_sent_at if item_transaction.pending_sent_at %></td>
			<td><%= local_time item_transaction.pending_expire_at if item_transaction.pending_expire_at %></td>
			<td><%= local_time item_transaction.transaction_began_at if item_transaction.transaction_began_at %></td>
			<td><%= local_time item_transaction.transaction_end_at if item_transaction.transaction_end_at %></td>
			<td><%= local_time item_transaction.transaction_completed_at if item_transaction.transaction_completed_at %></td>
		</tr>
	<% end %>
</table>

