<% if locker_allocations.any? %>
  <% locker_allocations.order(:status, :created_at).each do |allocation| %>
    <table width="100%">
      <tr>
        <th>Locker Location</th>
        <td><%= allocation.locker.location %></td>
      </tr>
      <tr>
        <th>Locker Number</th>
        <td><%= allocation.locker.number %></td>
      </tr>
      <tr>
        <th>Allocation Period</th>
        <td><%= allocation.round.acad_year %></td>
      </tr>
      <tr>
        <th>Status</th>
        <td><%= allocation.status.capitalize %></td>
      </tr>
    </table>
    <br>
  <% end %>
<% else %>
  <p>
    You have not been allocated any lockers. Visit our <%= link_to 'locker info page', portal_locker_path %> to learn more!
  </p>
<% end %>