<footer>
  <div class="row footer-container">
    <div class="medium-6 large-6 push-6 columns">
      <ul>
        <li>
          <a href="https://www.facebook.com/nuscomputing/" target="_blank">
            <%= image_tag "social_media_icons_SVG/1449751978_facebook_square_gray.svg", :size => "32x32" %>
          </a>
        </li>
        <li>
          <a href="https://twitter.com/nuscompclub/" target="_blank">
            <%= image_tag "social_media_icons_SVG/1449751973_twitter_square_gray.svg", :size => "32x32" %>
          </a>
        </li>
        <li>
          <a href="https://www.instagram.com/nuscomputingclub/" target="_blank">
            <%= image_tag "social_media_icons_SVG/1449751992_instagram_square.svg", :size => "32x32" %>
          </a>
        </li>
        <li>
          <a href="https://www.youtube.com/channel/UCVd-qsSFF328UUqcNxudy0w" target="_blank">
            <%= image_tag "social_media_icons_SVG/1449751539_youtube_square_gray.svg", :size => "32x32" %>
          </a>
        </li>
        <li>
          <a href="https://www.linkedin.com/company/nuscomputing" target="_blank">
            <%= image_tag "social_media_icons_SVG/1449751969_linkedin_square_gray.svg", :size => "32x32" %>
          </a>
        </li>
      </ul>
    </div>
    <div class="copyright medium-6 large-6 pull-6 columns">
      &copy 2015 NUS Students' Computing Club
    </div>
  </div>
</footer>
