<script>
$(document).ready(function() {
    $("[href]").each(function() {
    console.log(this.href + '\n');
    if (this.href == window.location.href) {
        $(this).addClass("active");
        }
    });
});
</script>

<nav class="top-bar" data-topbar role="navigation">
    <ul class="title-area">
        <li class="name">
        <h1><a href=<%= home_path %>><%= image_tag "Copy of Comp Club Logo.png", :size => "36x24", :style => "background-color: white; border: 4pt solid white; margin-right: 14pt;" %>NUS Computing</a></h1>
        </li>
        <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
        <li class="toggle-topbar menu-icon"><a href="#"><span></span></a></li>
    </ul>

    <section class="top-bar-section">
        <!-- Right Nav Section -->
        <ul class="right">
            <li><%= active_link_to 'Home', home_path %></li>  
            <li><%= active_link_to 'About', about_path %></li>
            <li><%= active_link_to 'Events', events_path %></li>
            <li><%= active_link_to 'Connect', connect_path %></li>
        </ul>
    </section>
</nav>
