<div class="nav-wrapper">
  <nav class="top-bar row" data-topbar role="navigation" data-options="is_hover: false">
    <ul class="title-area">
      <li class="name">
        <h1><a href=<%= mc_root_path %>><%= image_tag 'new_logo.png', :size => '24x27', :style => 'margin-right: 8pt;' %>Student Portal</a></h1>
      </li>
      <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
      <li class="toggle-topbar menu-icon"><a href="#"><span></span></a></li>
    </ul>

    <section class="top-bar-section">

      <!-- Left Nav Section -->
      <ul class="left">
        <% if user_signed_in? %>
          <%= active_link_to 'Home', portal_root_path, wrap_tag: :li, active: :exclusive %>
          <%= active_link_to 'Profile', portal_profile_path, wrap_tag: :li %>
          <li id="locker-nav" class="has-dropdown">
            <a href="#">Lockers</a>
            <ul class="dropdown">
              <%= active_link_to 'Locker Info', portal_locker_path, wrap_tag: :li, active: :exclusive %>
              <%= active_link_to 'Balloting System', portal_locker_locker_ballots_path, wrap_tag: :li, active: :exclusive %>
            </ul>
          </li>
        <% end %>
      </ul>

      <!-- Right Nav Section -->
      <ul class="right">
        <% if user_signed_in? %>
          <li><%= link_to 'Logout', destroy_user_session_path, id: 'btn-logout', method: :delete %></li>
        <% else %>
          <li><%= link_to 'Login', '/auth/ivle', id: 'btn-login' %></li>
        <% end %>
      </ul>

    </section>
  </nav>
</div>