<aside class="left-off-canvas-menu">
	<ul class="off-canvas-list">
		<li><label>Information</label></li>
		<li><%= link_to "News", articles_path %></li>
		<li><%= link_to "Alumni", alumni_path %></li>
		<li><%= link_to "Cybergaming Festival", cybergaming_path %></li>
		<li><%= link_to "Election", election_path %></li>
		<li><%= link_to "Recruitment", recruitment_path %></li>

		<li><label>Action</label></li>
		<li><%= link_to "Borrow", item_types_path %></li>
		<li><%= link_to "Locker Balloting", locker_path %></li>
		<li><label>Contact</label></li>
		<li><%= link_to "About Club", about_path %></li>
		<li><%= link_to "18th MC", mc18_path %></li>
		<li><%= link_to "Contact Us", contact_path %></li>
	</ul>
</aside>
