<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "NUS Computing" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= favicon_link_tag 'favicon.ico' %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <%# Load the nav bar %>
    <%= render "layouts/navbar" %>

    <%# Load the main view %>
    <div class="container">
        <%= yield %>
    </div>

    <%# Load the footer %>
    <%= render "layouts/footer" %>

  </body>
</html>
