<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <title><%= content_for?(:title) ? yield(:title) : "Student Portal | NUS Students' Computing Club" %></title>

  <%= stylesheet_link_tag "application" %>
  <%= favicon_link_tag 'favicon.ico' %>
  <%= javascript_include_tag "vendor/modernizr" %>
  <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body>
<div class="container">

  <div class="main-body portal-site">
    <%# Load the nav bar %>
    <%= render 'layouts/portal_navbar' %>

    <div class="main-view">
      <%= yield %>
    </div>
  </div>

  <%# To push the footer to the bottom %>
  <div class="push-footer">
  </div>

  <%# Load the footer %>
  <%= render 'layouts/portal_footer' %>

</div>
</body>
</html>
